.booking__wrapper-container {
    height: 1645px;
    width: 1220px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.header__title {
    font-size: 22px;
    font-weight: bolder;
    position: relative;
}

.booking__information-container {
    width: 753px;
    height: 1365px;
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 30px;
}

.header__title::after {
    content: '';
    border: 0.5px solid #CCCCCC;
    width: 100%;
    position: absolute;
    bottom: -12px;
    left: 0;
}

/* mat khau cu */

.old-password__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.old_password {
    border: 1px solid #E5E5E5;
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 14px;
    float: left;
    padding-top: 20px;
    position: relative;
}

    .old_password span {
        position: absolute;
        color: #767676;
        display: block;
        font-size: 13px;
        top: 20px;
        transition: top linear 0.1s;
        z-index: 3;
    }

    .old_password input {
        position: absolute;
        width: 350px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: transparent;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 13px;
    }

        .old_password input:hover {
            border: 1px solid #333;
        }

        .old_password input:focus {
            outline: none;
        }

        .old_password input[type=password]:focus ~ span {
            top: 10px;
        }

    .old_password:has( > input[type=password]:focus) {
        border: 1px solid #333;
    }

        .old_password:has( > input[type=password]:focus):hover {
            border: 0px;
        }

    .old_password input[type=password]:not(:focus):valid ~ span {
        top: 10px;
    }

.policy__wrapper {
    width: 753px;
    display: block;
    height: 30px;
    padding-right:60px;
}

    .policy__wrapper a {
        font-size: 12px;
        color: #767676;
        float: right;
        margin-left: 20px;
    }

.btn-update-password {
    width: 220px;
    height: 52px;
    outline: none;
    color: #333;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid #000000;
    box-sizing: unset;
    padding: 0;
}

    .btn-update-password:hover {
        background-color: #000000;
        color: #FFFFFF;
        cursor: pointer;
    }


/* mat khau moi */

.new-password__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.new_password {
    border: 1px solid #E5E5E5;
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 14px;
    float: left;
    padding-top: 20px;
    position: relative;
}

    .new_password span {
        position: absolute;
        color: #767676;
        display: block;
        font-size: 13px;
        top: 20px;
        transition: top linear 0.1s;
        z-index: 3;
    }

    .new_password input {
        position: absolute;
        width: 350px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: transparent;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 13px;
    }

        .new_password input:hover {
            border: 1px solid #333;
        }

        .new_password input:focus {
            outline: none;
        }

        .new_password input[type=password]:focus ~ span {
            top: 10px;
        }

    .new_password:has( > input[type=password]:focus) {
        border: 1px solid #333;
    }

        .new_password:has( > input[type=password]:focus):hover {
            border: 0px;
        }

    .new_password input[type=password]:not(:focus):valid ~ span {
        top: 10px;
    }

/* xac thuc mat khau moi */

.verify-password__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.verify_password {
    border: 1px solid #E5E5E5;
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 14px;
    float: left;
    padding-top: 20px;
    position: relative;
}

    .verify_password span {
        position: absolute;
        color: #767676;
        display: block;
        font-size: 13px;
        top: 20px;
        transition: top linear 0.1s;
        z-index: 3;
    }

    .verify_password input {
        position: absolute;
        width: 350px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: transparent;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 13px;
    }

        .verify_password input:hover {
            border: 1px solid #333;
        }

        .verify_password input:focus {
            outline: none;
        }

        .verify_password input[type=password]:focus ~ span {
            top: 10px;
        }

    .verify_password:has( > input[type=password]:focus) {
        border: 1px solid #333;
    }

        .verify_password:has( > input[type=password]:focus):hover {
            border: 0px;
        }

    .verify_password input[type=password]:not(:focus):valid ~ span {
        top: 10px;
    }
