@model ElectronicCommerce.Models.Role;

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-6 mb-2 mb-xl-0">
                    <h3 class="font-weight-bold">Chỉnh sửa quyền</h3>
                    <form method="post" asp-area="admin" asp-controller="role" asp-action="update">
                        <div class="form-group">
                            <label for="role_id">Mã quyền:</label>
                            <input type="text" class="form-control" asp-for="Id" id="role_id" placeholder="Role_id">
                        </div>
                        <div class="form-group">
                            <label for="role_name">Tên quyền:</label>
                            <input type="text" class="form-control" asp-for="Name" id="role_name" placeholder="Role_name">
                        </div>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                        <button class="btn btn-light">Làm mới</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>